.banner {
  background: #f0f3f7;
  margin: 0 20px 20px;
  padding: 20px;
  border-radius: 16px;

  h3 {
    font-size: 16px;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    margin-top: 6px;
    color: #666;
  }
}
