.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: white;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
}

.center {
  width: 60px;
  height: 60px;
  background: #00bfa6;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin-top: -30px;
}
